@media (min-width: 992px) and (max-width: 1199.98px) { 
    .navbar{height: auto;}
    .logo{padding-left: 50px;}
    .nav-left{margin-left: 60px;}
    .nav-link{padding-left: 20px !important;}
    .section-2{height: auto;}
    .sec2-title{text-align: center;}
    .sec2-cont{text-align: center;}
   .sec2-img{margin-top: 30px;
margin-bottom: 30px;
text-align: center;}
.section-7{height: auto;}
.sec7-row{height: auto;
padding-top: 0;}
.sec7-col1{height: auto;}
 }